*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poller',sans-serif;
}
body{
    color: #eee;
    background-color: #141519;
    position: relative;
    background: url("https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");

    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    /* background-position: center; */
}

.fixed-img-size{
    width: 400px;
    filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
    /* height: 400px; */
}

.fixed-img-small{
    /* width: 200px; */
    height: 250px;
}

a{
    text-decoration: none;
    color: #eee;

}

.d-flex{
    display: flex;
    align-items: center;

}

header{
    justify-content: space-between;
    max-width: 1100px;
    margin: 3rem auto;
    font-size: 1.1rem;
}
nav{
    width: 250px;

    justify-content: space-around;
    display: flex;
    gap: 10px;
    text-transform: uppercase;
}

nav a{
    color: #03e9f4;
    padding: 1em;
    transition: .5s;
    /* overflow: hidden; */
    position: relative;
    text-align: center;
    text-shadow:  0 0 5px #03e9f4,
    0 0 10px #03e9f4,
    0 0 50px #03e9f4,
    0 0 50px #03e9f4;
}

nav a:hover{
    background-color: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transition, #0005);
}

.social{
    /* width: 100px; */
    /* border: 1px solid; */
    justify-content: space-around;
    display: flex;

}
.fa-snapchat{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.social a{
    position: relative;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background-color: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
    margin: 0 .5em;
}

.social a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #03e9f4;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.social a:hover::before{
    transform: scale(1.1);
    box-shadow: 0 0 15px #03e9f4;
}

.social a:hover{
    color: #03e9f4;
    box-shadow: 0 0 5px #03e9f4;
    text-shadow: 0 0 5px #03e9f4;
}

main{
    justify-content:center;
    align-items: center;
    width: 1200px;
    height: 80vh;
    margin: -4em auto;
}

.name{

    padding:1em;
    position: relative;
    width: 350px;
    height: 150px;
    text-align: center;
    margin-top: -10em;
    letter-spacing: 2px;
}
.movie-hero{
    font-size:3rem;
    font-weight: 100;
}

.more-info{

    text-align: right;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
}

.more-info{
    align-items: center;

    background: linear-gradient(135deg, rgba(3,233,244,0.22), rgba(3,233,244,0.7));

    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
     -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 150px;
}

.desc-hero{
    margin-top: -10em;
    width: 300px;
    text-align: justify;
    line-height: 1.5;

}

.slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    width: 100%;
    margin: -13em auto;

}
.left-slide{
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;

}

.right-side{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
}


footer{
    /* display: none; */
    background-color: #0212FF;
    display: flex;
    align-items: end;

    position: fixed;
    width: 100%;
    bottom: 0em;
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    margin: auto;
    width: 100%;
    max-width: 1100px;
    align-items: center;
}

.logo img{
    backdrop-filter: blur(15px) saturate(3);
}

.shapes
{
    background:linear-gradient(45deg,#0212FF 0%, #0212FF 100%);
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40% ;
    height: 100px;
    width: 100px;
    box-shadow: 0 0 50px #0212FF;
    z-index: 0;
    position: absolute;
    top: 50%;
}
.shape{
    z-index: -10;
}

.shape:nth-child(1){

    left: 15%;
    top: 30%;
    z-index: -10;
}

.shape:nth-child(2){
    top: 30%;
    right: 20%;
    background:#FF165B;
    box-shadow: 0 0 50px #FF165B;
}
.shape:nth-child(3){
    top:70%;
    left: 20%;
}