*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background-color: #F7F7F7;
}

header{
    max-width: 100%;
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
}

.head-tab-1{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;

}
.logo{
    margin-right: 1em;
}

.logo-nav{
    display: flex;
    align-items: center;
    
}

.logo-nav li{
    padding: 0 1em;
}

.logo-nav li a{
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    padding: 1em;

}

.logo-nav li a span{
    margin-left: .5em;
    font-size: .6em;
}

.search-cart{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:150px;
}

.search-cart li a{
    color: #000;
    font-size: 1.5em;
}


.shop .categories{
    
    position: absolute;
    background-color: #fff;

    box-shadow: 0 0 10px rgba(0,0,0,.5);
    top: 80%;

    width: 100%;
    left: 0;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    animation: slide .5s ease-in-out;
    display: none;
    opacity: 0;
    transition: all .5s ease-in-out;

}

/* slide on hover */

@keyframes slide{
    0%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0);
    }
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



.shop:hover .categories{
    transform: translateY(0);
    display: flex;
    opacity: 1;
    z-index: 10000;
}

.categories-1{
    display: flex;
    justify-content: space-between;
    width:1500px;
    max-width: 100%;
}

.categories-1 h1{
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.categories-1 li{
    list-style: circle;
    padding: 0;
}

.categories-1 li a{
    font-weight: 400;
    text-transform: none;
    padding: 0;
}

.categories-1 li a:hover{
    color: blue;
}

.products{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.product{
    display: flex;
    align-items: center;
}

.product .description h1{
    font-size: 1em;
}

.product .description h2{
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 1em;
    color: blue;
}



.setting{
    position: relative;
    z-index: 100;

}

.settings{
    position: absolute;
    top: 100%;
    right: 0;

    background-color: #fff;
    z-index: 100;
    width:250px;
    /* height: 450px; */    
    height:0;

    overflow: hidden;
    transition: all .5s ease-in-out;
}

.setting.hide .settings{
    height: 53vh;
}




.account{
 
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1em;
    line-height: 2;
    padding-bottom: 1em;
    border-bottom: 1px solid #000;
    font-size:.8em;
    padding: 1em;
}

.lang ul{
    columns: 2;
}

.lang{
    padding: 1em;
    margin-bottom: 1em;
    line-height: 2;
    padding-bottom: 1em;
    border-bottom: 1px solid #000;
    font-size:.8em;
    display: flex;
    flex-direction: column;
    columns: 2;
}

.currency ul{
    columns: 3;
}

.currency{
    margin-bottom: 1em;
    line-height: 2;
    padding-bottom: 1em;
    font-size:.7em;
    display: flex;
    columns: 2;
    padding: 1em;
}








.cart{
    height: 100vh;
    width:320px;
    position: fixed;
    z-index: 9999;
    top: 0;
    padding: 0;
    right: 0;
    transition: all .4s;
    transform: translate3d(100%,0,0);
    background-color: #fff;
    overflow-y: scroll;
}

.hide .cart{
    transform: translateZ(0);
    visibility: visible;
    display: block;
}

.hide .cart{
    right: 0;
}
.shopping-title{
    display: flex;
    padding: 1em;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    color: #fff;

}
.shopping-cart{
    padding: 1em;
    text-align: center;
}


/* sections of main */

.newTechs{
    position: relative;
    max-width: 100%;
    height: 27rem;
    margin: 0 auto;
    overflow: hidden;
}
.newTech{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    height: 100%;
    transition: transform .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newTech:nth-child(2){
    transform: translateX(100%);
}   


.newTech img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-orientation: from-image;    
}
.newTech-description{
    position: absolute;
    left: 50%;
    width: 20%;
    top:50%;
    transform: translate(10%,-50%);
}

.newTech:first-child .newTech-description{
    transform: translate(-200%,-50%);
}

.newTech-description h1{
    font-size: 3rem;
    text-transform: uppercase;
}
.newTech-description p{
    width: 500px;
}

.newTech-description button{
    background-color: #233A95;
    padding: 1em;
    margin-top: 1em;
    color: #fff;
    cursor: pointer;
}

button{
    background:none;
    border: none;
}

button .fas {
    color: rgba(255, 255, 255, .5);
}

.btn-slide{
    position: absolute;
    top: 50%;
    z-index: 10;
    height: 5.5rem;
    width: 5.5rem;
    cursor: pointer;
}

.prev{
    transform: translate(-50%,-50%);
    left: 3rem;
}

.next{
    transform: translate(50%,-50%);
    right: 3rem;
}


/* section of main */
.part-1{
    max-width:100%;
    width: 100%;
    margin: 0 auto;

}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2em;
    position: relative;
}

.card{
    width:33.33%;
    /* float: left; */
    text-align: left;
    position: relative;
    display: block;
    padding: .9em 1em;
}


.nav-link::before{
    border-bottom: 3px solid rgba(150,150,150,.3);
    border-top: 3px solid rgba(150,150,150,.3);
    bottom: 20px;
    content: "";
    left: 50%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 50%;
    top: 20px;
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    z-index: 11
}
.nav-link::after{
    border-left: 3px solid rgba(150,150,150,.3);
    border-right: 3px solid rgba(150,150,150,.3);
    bottom: 50%;
    content: "";
    left: 20px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    z-index: 11
}
.nav-link:hover::after{
    bottom: 20px;
    opacity: 1;
    top: 20px;
}
.nav-link:hover::before{
    left: 20px;
    opacity: 1;
    right: 20px;
}
.nav-link{
    color: #000;
}

.card  img{
    width: 100%;
    height: 100%;
}


.card-description{
    padding: 1em;
    text-align: left;
    /* width: 100%; */
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    
}

.part-2{
    max-width:1200px;
    width: 100%;
    margin: 0 auto;

}
.cards-2{
    z-index: 100;
    margin-top: 2em;
    position: relative;
    display: flex;
}

.card-2{
    width:20%;

    padding: 0 1em;
    
}

.card-2 img{
    width: 100%;
}

.card-2 .card-description{
    padding: 1em;
    color: #000;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    /* width: 100%; */
    position:unset;
    transform: translate(0,0);
    width: 100%;
    
}

.card-2 .card-description h1{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}





.part-4{
    
    background-color: #EFEFEF;
    color: #000;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.trending-products{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
;
}
.trending-infos h1{
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 1em;
    letter-spacing:2px;
}
.trending-infos p{
    font-size: 1rem;
    color: #868686;
}

.products-menu{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;

}

.tab-homeproduct{
    padding:  1em;
    border: 1px solid #868686;
    cursor: pointer;
    transition: all .3s;
    margin: 1em;
    position: relative;
}



.tab-homeproduct.active{
    background-color: #233A95;
    color: #fff;
}

.tab-homeproduct.active::after{
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #233A95;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -7px;
    transform: rotate(45deg);
}

.controllers{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.controllers .btns{
    border: 1px solid #000;
    margin: 1em;    

    width:3rem;
    height: 3rem;
    border-radius: 20%;
    cursor: pointer;
    transition: all .3s;
    font-size: 1.2rem;
    aspect-ratio: 1/1;
}
.controllers .btns:hover{
    background-color: #233A95;
    color: #fff;
}

.btn-prev{
    display: none;
}

.products-1{
    max-width: 1300px;
}

.products-slider{
    cursor: pointer;
    /* white-space:nowrap; */
    overflow: hidden;
    display:flex;
    scroll-behavior: smooth;
    padding: 1em;
   
}


.products-slider.dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.products-slider.dragging img{
    pointer-events: none;
}

.products-slider img{
    height: 200px;
    object-fit: cover;

    width:230px;

}
.product {
    margin: 0 1.23em;
    transition: all .5s forwards;
    background-color: #fff;
    text-align: left;
    padding: 1em;
    border-radius: 10px;
}

.product:hover{
    box-shadow: 0 0 20px rgb(0 0 0 / 8%);
    transition: all .4s;
}

.product:first-child{
    margin: 0;
    margin-right: 1.23em;
}
.product:last-child{
    margin:0;
    margin-left: 1.23em;
}

.category-title a{
    font-size:.8em;
    color: #ccc;
}
.product-title a{
    color: #000;
    font-weight: 800;
}

.product-image img{
    margin:1em 0
}

.price{
    color: #233A95;
    font-size: 1.3em;
}
.add-cart button{
    background-color: #233A95;
    color: #fff;
    padding: .5em 1em;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #3B4D95;
}


.our-products-slider{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    display:grid;
    grid-template-columns: repeat(5,1fr);   

    grid-gap: 2em;
}

.our-products-slider .our-product{
    width: 200px;
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
}
.our-product img{
    width: 100%;
    height: 100%;
}

.our-product:hover{
    box-shadow: 0 0 20px rgb(0 0 0 / 8%);
    transition: all .4s;
}

.our-infos{
    text-align: center;
    margin-top: 1em;

}

.our-infos h1{
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
}

.deals{
    background-color: #F7F7F7;
    margin-bottom: 2em;
    padding: 1em;
}


.deal-title{
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    margin-top: 1em;
    text-align: center;
}

.deal-main{
    max-width: 1300px;

}

.deal-slider{
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    padding: 1em;
}



.deal{
    display: flex;
    background-color: #fff;
    margin: 0 3.5em;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 1em;
}

.deal .deal-img{
    width:350px;
    /* height: 300px; */
}
.deal-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn{
    border: 1px solid #000;
    padding: .8em 1em;
    margin-top: 3em;
    font-size: .7em;
    border-radius: 10px;
    cursor: pointer;
    transition: all .4s;
}

.btn:hover{
    background-color: #233A95;
    color: #fff;
}

.all-categories{
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(3,1fr);

    /* padding-bottom: 20px; */
}

.category{
    
    text-align: center;
    margin-bottom: 20px;
 
}

.category-wrap{
    background-color: #fff;
    height: 100%;
    margin:0 15px;
    /* border:1px solid; */
    box-shadow: 0 0 20px rgb(0 0 0 / 8%);
}

.category-img{
    width: 100%;
    height: 130px;
    
}

.category-img img{
    width: 100%;
    /* height: auto; */
    height: 130px;
}

.category-main{
    display: inline-block;
    padding: 0 0 20px 0;
    width: 100%;
}

.category-title{
    background-color: #1cb4ac;
    padding: .5em 0;
  

}
.category-main h3 a{
    font-size: 1.5em;
    background-color: #1cb4ac;
    float: left;
    width: 100%;
    color: black;

}

.category-list{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-around;

    padding: 0 1em;
    font-size: .9em;
}

.category-list li{
    width:50%;
    list-style: circle;
    margin-bottom: 10px;
}



.latest-blog{
    max-width: 1200px;
    margin: 0 auto;
}

.blogs-slider{
    display: flex;
    scroll-behavior: smooth;
    overflow: hidden;
}


.blog{

   width: 100%;
   
   margin: 0 3em;
}

.blog-img{
    width: 300px;
    height: 200px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.blog-img::before{
    font-family: "FontAwesome";
    content: '\f002';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #000;
    color: #fff;
    font-size:1em;
    padding:.5em;
    border-radius: 50%;
    aspect-ratio: 1/1;
    opacity: 0;
    transition: all .3s ease;
}

.blog-img::after{
    content: "";
    width: 100%;
    /* height: 100%; */
    height: 200px;
    position: absolute;
    background-color: rgba(0,0,0,.3);
    z-index: 1000;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all .3s ease;
}
.blog-img:hover::before{
    opacity: 1;
}
.blog-img:hover::after{
    transform: scale(1);
    opacity: 1;
}

.blog-img img{
    width: 100%;
    height: 200px;
}

.blog-controllers{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}


.btns{
    border: 1px solid #000;
    width: 15px;
    height: 15px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;
}

.btns:hover{
    background-color: #000;
    color: #fff;
}




.brands{
    max-width: 1200px;
    margin: 1em auto;
    margin-top: 2em;
}

.terms{
    display: flex;
    justify-content: center;
}

.term{
    /* width: 320px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid #000;
    padding: 0 2em;
}

.term:nth-child(3){
    border: 0;
}


.desc{
    margin-left: 1em;
    /* width: 70%; */
    font-size: .9em;
}
.manufacture{

    max-width: 1350px;
        margin: 0 auto;
}

.wrapper{
    display: flex;

    scroll-behavior: smooth;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 3em;

    /* position: relative; */
}

.wrapper.dragging{
    scroll-behavior: auto;
    cursor: grab;
}

.wrapper.dragging img{
    pointer-events: none;
}

.manufacturer {

    margin-right: 1.6em;
    padding: 0px 20px;

    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    display: flex;
}
.manufacturer:last-child{
    margin: 0;
}

.manufacturer img{
    width: 135px;
    object-fit: cover;


}

.controll{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 3em auto;
}


.button{
    width: 2em;
    height: 2em;
    border: 1px solid #000;
    font-size: 1.2em;
    border-radius: 10px;
    transition: all .5s;
    cursor: pointer;
}

.button:hover{
    background-color: #000;
    color: #fff;
}

footer{

    background-color: #111111;
    color: #fff;
}

.infos{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3em 0;
    position: relative;

}

.infos::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
   
}

.legend{
    display: flex;
    justify-content: space-between;
}

.info-1{
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.title-info{
    margin: 1em 0;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 2em;
}

.title-info::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    color: #fff;
    background-color: #ffff;
    bottom: -10px;
    left: 0;
    z-index: 1000;
}



.info ul{
    line-height: 2;

}

.info ul li a{
    color: #fff;
}


.info-2{
    float: right;
    width: 20%;
}

.info-2 p{
    font-size: .8em;
    margin-bottom: 1em;
}
.info-2 form{
    display: flex;
    flex-direction: column;
}
.info-2 .email{
    font-size: 1.1em;
    padding: .5em;
 
}

.email::placeholder{
    color: #ccc;
}
.info-2 form input:last-child{
    background-color: #233A94;
    padding: .8em 0;
    color: #fff;
    margin-top: 1em;
}


.footer-container{
    max-width: 1200px;
    margin: 0em auto;
    padding: 1em 0;
    color: #fff;

}

.row{
    display: flex;
    justify-content: space-between;
}


.payment-gateway{
    background:url("https://studio8tech.com/techronic/themes/techronic/assets/img/payment.png") no-repeat scroll right center;
    padding: 5px 100px;
    width: 100%;
}